


.form_text {
  margin-bottom: 0.6rem;
  color: var(--marine-blue);
  letter-spacing: 1px

}

.container_form input {
  height: 5rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-gray);
  padding: 1.5rem;
}

.container_form input::placeholder{
  font-size: 1.7rem;
}


.btn_container1 {
  display: flex;
  margin-top: 6rem;
  align-self: flex-end;
  justify-self:flex-end;
}

.form_text {
  display: flex;
  justify-content: space-between;
}

.form_text span {
  color: var(--cool-gray);
}







