<div class="container">
  <div class="container_txt">
    <h1>Personal Info</h1>
    <span>Please Provide your name, email address, and phone number.</span>
  </div>


  <div class="container_form">
    <form [formGroup]="formData" (ngSubmit)="next()">

        <div class="form_text">
          <label for="name">Name</label>
        </div>
        <input id="input_field" type="text" formControlName="name" placeholder="What's your name?">

        <div class="form_text">
          <label for="email">Email Address</label>
          <span *ngIf="formData.get('email')?.touched && formData.get('email')?.invalid && formData.get('email')?.value !== ''">Invalid email</span>
        </div>
          <input id="input_field" type="text" formControlName="email" placeholder="What's your email address?">

          <div class="form_text">
            <label for="phone">Phone Number</label>
            <span id="template-error" *ngIf="formData.get('phone')?.dirty && formData.get('phone')?.untouched && formData.get('phone')?.invalid">(11) 99999-9999</span>
            <span *ngIf="formData.get('phone')?.dirty && formData.get('phone')?.invalid && formData.get('phone')?.touched">Invalid Number</span>
          </div>
          <input id="input_field" type="text" formControlName="phone" placeholder="What's your phone number?">

        <div class="btn_container1">
          <button class="btn" type="submit" [disabled]="formData.invalid">Next Step</button>
        </div>


    </form>

  </div>




</div>



