<div class="container">
  <div class="container_txt">
    <h1>Personal Info</h1>
    <span>Please Provide your name, email address, and phone number.</span>
  </div>


  <div class="container_form">
    <form [formGroup]="formData" (ngSubmit)="next()">

        <label for="name">Name</label>
          <input id="input_field" type="text" formControlName="name" placeholder="What's your name?">

        <label for="email">Email Address</label>
          <input id="input_field" type="text" formControlName="email" placeholder="email@email.com">


        <label for="phone">Phone Number</label>
          <input id="input_field" type="number" formControlName="phone" placeholder="e.g + 1 234 567 890">

        <div class="btn_container1">
          <button class="btn" type="submit" [disabled]="formData.invalid">Next Step</button>
        </div>


    </form>

  </div>




</div>



