aside {
background-image: url(../../../assets/images/bg-sidebar-desktop.svg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-radius: 1rem;
}

.container_aside ul  {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;

}

.menu_item {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--white);
  cursor: pointer;
}

.menu_number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.8rem;
  height: 3.5rem;
  background-color: transparent;
  border: 2px solid var(--light-gray);
  border-radius: 50%;
  color: var(--white);
  font-weight: 700;
}

#menu_txt {
  color: var(--light-gray);
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.7rem;
}

#menu_txt b {
  color: var(--white);
  font-size: 1.5rem;

}

.active {
  background-color: var(--light-gray);
  color: var(--purplish-blue);
}



@media (max-width: 1070px) {
  aside {
    width: 25rem;
    margin-right: 3rem;
  }
}



@media (max-width: 870px) {

  .container_aside ul{
    flex-direction: row;
    justify-content: space-between;
  }
  aside {
    width: auto;
    margin-right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  .menu_item {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
  .menu_number {
    width: 3rem;
    height: 2em;
    border: 1px solid var(--light-gray);
  }
  #menu_txt {
    font-size: 1.2rem;
  }

  #menu_txt b {
    color: var(--white);
    font-size: 1.2rem;

  }


  @media (max-width: 670px) {

    #menu_txt  {
      text-align: center;
    }
  }

  @media (max-width: 470px) {
    #menu_txt {
      display: none;
    }
  }

  @media (max-width: 290px) {
    aside {
      border-radius: 0;
      margin-bottom: 0;
      border-radius: 2rem;
    }
    .menu_number {
      width: 2rem;
      height: 2rem;
      font-size: 1.2rem;
    }
    .container_aside ul  {
      gap: 0.5rem;
      padding: 2rem;

    }
  }


  @media (max-width: 200px){
    aside {
      display: none;
    }
  }









}





