<aside>

  <div class="container_aside">
    <ul>


      <li>
        <div class="menu_item">
          <div class="menu_number" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  [routerLink]="['/step1']" >
            <span>1</span>
          </div>
          <span id="menu_txt">STEP 1<br><b>YOUR INFO</b></span>
        </div>
      </li>
      <li>
        <div class="menu_item">
          <div class="menu_number"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/step2']" >
            <span>2</span>
          </div>
          <span id="menu_txt">STEP 2<br><b>SELECT PLAN</b></span>
        </div>
      </li>
      <li>
        <div class="menu_item">
          <div class="menu_number"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/step3']" >
            <span>3</span>
          </div>
          <span id="menu_txt">STEP 3<br><b>ADD-ONS</b></span>
        </div>
      </li>
      <li>
        <div class="menu_item">
          <div class="menu_number"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/step4']" >
            <span>4</span>
          </div>
          <span id="menu_txt">STEP 4<br><b>SUMMARY</b></span>
        </div>
      </li>


    </ul>
  </div>



</aside>

