.container_txt b {
  color: var(--purplish-blue);
}


.summary_container {
  display: flex;
  align-items: center;
  background-color: var(--magnolia);
  border-radius: 0.5rem;
  position: relative;
}

.summary_container ul {
  width: 50rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary_container ul li {
  margin: 0.5rem 0;
}


.summary_item {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

.plan_title {
  font-size: 1.9rem;
  color: var(--marine-blue);
}

.price_title {
  color: var(--cool-gray);
}

  li:first-of-type::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 95%;
  height: 1px;
  transform: translateX(-50%);
  background-color: var(--light-gray);
}

.price_value span {
  color: var(--marine-blue);
}


.btn_summaryItem button{
  background: transparent;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  color: var(--cool-gray);

}

.btn_summaryItem button:hover {
  color: var(--strawberry-red);
}

.totalPrice {
  display: flex;
  color: var(--cool-gray);
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

.totalPrice b {
  font-size: 2rem;
  color: var(--purplish-blue);
}


@media (max-width: 870px) {

  .price_title {
    position: absolute;
    left: 2rem;
  }
  .price_value {
    position: absolute;
    right: 2rem;
  }
  .btn_summaryItem {
    margin: 2rem 0;

  }
}

@media (max-width: 310px) {

  .summary_container ul {
    align-items: center;
    justify-content: center;
  }
  .summary_item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .btn_summaryItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;

  }
  .price_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    left: 0;
  }
  .price_value {
    position: relative;
    right: 0;
  }

}


