<div class="container">
  <div class="container_txt">
    <h1>Finishing up</h1>
    <span> <b>{{formData.value.name}}</b>, Double-check everything looks OK before confirming.</span>
  </div>

  <div class="summary_container">

    <ul>
      <li>
        <div class="summary_item">
            <div class="price_title">
             <span class="plan_title">{{formData.value.selectedOption}}</span>
              <span *ngIf="this.prices.isMonthly && formData.value.selectedOption"> (Monthly)</span>
              <span *ngIf="!this.prices.isMonthly && formData.value.selectedOption"> (Yearly)</span>
            </div>
            <div class="price_value">
              <span *ngIf="formData.value.selectedOption == 'Arcade' && this.prices.isMonthly">${{prices.price1}}/mo</span>
              <span *ngIf="formData.value.selectedOption == 'Arcade' && !this.prices.isMonthly">${{prices.price1}}/yr</span>
              <span *ngIf="formData.value.selectedOption == 'Advanced' && this.prices.isMonthly">${{prices.price2}}/mo</span>
              <span *ngIf="formData.value.selectedOption == 'Advanced' && !this.prices.isMonthly">${{prices.price2}}/yr</span>
              <span *ngIf="formData.value.selectedOption == 'Pro' && this.prices.isMonthly">${{prices.price3}}/mo</span>
              <span *ngIf="formData.value.selectedOption == 'Pro' && !this.prices.isMonthly">${{prices.price3}}/yr</span>
            </div>
        </div>

          <div class="btn_summaryItem">
            <button *ngIf="formData.value.selectedOption" (click)="change()">Change</button>
          </div>
      </li>

      <li>
        <div class="summary_item">
          <div *ngIf="formData.value.Option1"class="price_title">
            {{formData.value.Option1}}
          </div>
          <div class="price_value">
            <span *ngIf="formData.value.Option1 && this.prices.isMonthly" >+${{prices.addOn1}}/mo</span>
            <span *ngIf="formData.value.Option1 && !this.prices.isMonthly" >+${{prices.addOn1}}/yr</span>
          </div>
        </div>
        <div class="btn_summaryItem">
          <button *ngIf="formData.value.Option1" (click)="cancel1()">Remove</button>
        </div>
      </li>


      <li>
        <div class="summary_item">
          <div *ngIf="formData.value.Option2" class="price_title">
            {{formData.value.Option2}}
          </div>
          <div class="price_value">
            <span *ngIf="formData.value.Option2 && this.prices.isMonthly">+${{prices.addOn2}}/mo</span>
            <span *ngIf="formData.value.Option2 && !this.prices.isMonthly">+${{prices.addOn2}}/yr</span>
          </div>
        </div>
        <div class="btn_summaryItem">
          <button *ngIf="formData.value.Option2" (click)="cancel2()">Remove</button>
        </div>
      </li>


      <li>
        <div class="summary_item">
          <div *ngIf="formData.value.Option3" class="price_title">
            {{formData.value.Option3}}
          </div>
          <div class="price_value">
            <span *ngIf="formData.value.Option3 && this.prices.isMonthly">+${{prices.addOn3}}/mo</span>
            <span *ngIf="formData.value.Option3 && !this.prices.isMonthly">+${{prices.addOn3}}/yr</span>
          </div>
        </div>
        <div class="btn_summaryItem">
          <button *ngIf="formData.value.Option3" (click)="cancel3()">Remove</button>
        </div>
      </li>
    </ul>






  </div>

  <div class="totalPrice">
    <div class="price_txt">
      <span *ngIf="this.prices.isMonthly">Total (per month)</span>
      <span *ngIf="!this.prices.isMonthly">Total (per year) </span>
    </div>
    <div class="price_value">
      <span *ngIf="this.prices.isMonthly" ><b>${{all}}/mo</b></span>
      <span *ngIf="!this.prices.isMonthly"><b>${{all}}/yr</b></span>
    </div>
  </div>

  <div class="btn_container">
    <button class="back_btn" (click)="back()" >Go Back</button>
    <button class="btn" [disabled]="formData.invalid"  (click)="confirm()">Confirm</button>
  </div>




</div>
